@charset "UTF-8";
* { margin: 0; padding: 0; }
body, html { width: 100%; }
ul { list-style: none; }
a { text-decoration: none; }

.wrap { clear:both; background-image: url(paper.jpg); }
.hd { clear:both; width: 100%; height: 80px; position:relative; border-bottom:5px solid #eee; }
.ft { clear:both; width:100%; height:70px; position:relative; border-top:5px solid #eee; }
.content { clear:both; width: 100%; }
.vs, .page { clear:both; width: 100%; min-height:100vh; border-top:1px solid #eee; }
.page_tit { text-align: center; line-height: 4; padding-top: 40px; }
#quick { position:fixed; right:40px; top:50%; margin-top: -80px;  z-index:9999; }

.gnb { clear:both; width: 100%; height: 80px; position:fixed; top: 0; left: 0; z-index:9999; background-color:rgba(22,22,22,0.75); }
.gnb ul { clear:both; width: 1200px; height: 80px; margin: 0 auto; }
.gnb li { float:left; }
.gnb li a { display:block; padding: 20px; font-size:20px; color:#fff; }
.gnb li button { display:block; padding: 20px; font-size:20px; color:#fff; outline:0; border:0; background-color:transparent; line-height: 2; cursor:pointer; }