@charset "utf-8";
/* 콘텐츠 영역 */
.content { clear:both; width: 100%; }
.vs { width: 1000px; margin: 0 auto; overflow:hidden; }
.vs img { display:block; width: 100%; }
.con_tit { text-align:center; line-height: 3.6; }
.art01 { width: 960px; margin: 20px auto;  }
.art01 li { float:left; width: 300px; margin: 10px; }